/* Mobile first approach */

/* Global variables */
:root {
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --blue: #044fa2;
  --orange: #f06e22;
  --green: #54ab40;

  /* rest of the vars */
  --backgroundColor: var(--white);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-link-font-size: 18px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
  font-family: "Open Sans" sans-serif;
}

/* Default properties of every element */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Start of navigation bar CSS */
.navigation-bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: var(--white);
  z-index: 500;
}

.navigation-bar .nav-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.navigation-bar .logo {
  height: auto;
  width: 65px;
}

.navigation-bar .menu-icon {
  height: 45px;
  width: 45px;
  display: block;
  align-self: center;
  cursor: pointer;
}

.navigation-bar a {
  display: block;
  align-self: center;
  /* padding: 30px 16px; */
  padding: 15px 16px;
  /* Remove this on desktop view */
  margin-top: 5px;
  color: var(--black);
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  font-size: var(--nav-link-font-size);
  letter-spacing: var(--letterSpacing);
}

.hide-content {
  display: none;
}
/* End of navigation bar CSS */

/* Start of image carousel CSS */
.slider-container {
  width: 100%;
  margin: 0 auto;
  height: 30vh;
  position: relative;
  overflow: hidden;
  margin-top: 72px;
}

.slider-container .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slider-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-container .slider-buttons button {
  width: 40px;
  height: 40px;
  font-size: 15px;
  color: #4a4a49;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-container .slider-buttons .prevBtnSlider {
  position: absolute;
  top: 40%;
  margin-left: 10px;
  z-index: 5;
}

.slider-container .slider-buttons .nextBtnSlider {
  position: absolute;
  top: 40%;
  right: 0;
  margin-right: 10px;
  z-index: 5;
}

.slider-container .slider-buttons img {
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
}
/* End of image carousel CSS */

/* Start of Homepage description CSS */
.home-description {
  padding: 15px 28px;
}

.home-description h1 {
  font-size: 20px;
  text-align: center;
}

.home-description .school-name {
  color: var(--blue);
}

.home-description hr {
  height: 3px;
  width: 80px;
  margin: 5px auto;
  background-color: var(--blue);
  border: none;
  border-radius: 5px;
}

.home-description p {
  margin-top: 20px;
  text-align: center;
}

/*  Media query runs when the screen size is greater than 600px */
@media only screen and (min-width: 600px) {
  .navigation-bar {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--white);
  }

  .navigation-bar .menu-icon {
    display: none;
  }

  .navigation-bar .content {
    display: flex !important;
  }
}
