/* Mobile first approach */

/* Global variables */
:root {
  /* grey */
  --grey-50: #f0f4f8;
  --grey-100: #d9e2ec;
  --grey-200: #bcccdc;
  --grey-300: #9fb3c8;
  --grey-400: #829ab1;
  --grey-500: #627d98;
  --grey-600: #486581;
  --grey-700: #334e68;
  --grey-800: #243b53;
  --grey-900: #102a43;

  /* rest of the colors */
  --black: #222;
  --white: #fff;
  --red-light: #f8d7da;
  --red-dark: #842029;
  --green-light: #d1e7dd;
  --green-dark: #0f5132;
  --blue: #044fa2;
  --orange: #f06e22;
  --green: #54ab40;
  --box-green: #54ab40;

  /* rest of the vars */
  --backgroundColor: var(--white);
  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
  --fluid-width: 90vw;
  --nav-link-font-size: 18px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/* Default properties of every element */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-size: 20px;
  text-align: left;
}

p {
  font-size: 16px;
  line-height: 26px;
  text-align: justify !important;
}

.heading-hr {
  margin: 0 auto;
  width: 100px;
  border: 0;
  border-radius: 5px;
  height: 3px;
  background-color: orange;
}

/* Start of top-nav bar */
#top-nav-bar {
  display: none;
}

#top-nav-bar .top-nav-element {
  color: var(--white);
  margin: 5px 15px;
  transition: 0.3s;
}

.top-nav-element a {
  text-decoration: none;
  color: var(--white);
  transition: 0.5s;
}

.top-nav-element:hover {
  color: var(--orange) !important;
}

.top-nav-element a:hover {
  color: var(--orange);
}
/* End of top-nav bar */

/* Start of navigation bar */
.navigation img {
  margin-top: 5px;
  height: 60px;
  width: 60px;
  object-fit: cover;
  z-index: 50;
}

nav {
  float: right;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: #ffffff;
  color: #463f3f;
  text-decoration: none;
  /*
  The full path of this code is nav ul li a:not(:only-child):after. This means that the code will apply to any a tag in our nav list that is NOT an only child, aka any dropdown. The :after means it comes after the output of the tag. I’ve decided that to specify any nav item as a dropdown, it will be followed by a unicode arrow – ▾ (#9662).
  */
}
nav ul li a:hover {
  background: #f2f2f2;
  color: var(--green);
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  z-index: 1;
  /* Guarantees that the dropdown will display on top of any content. */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  height: 70px;
  width: 70px;
}

/* 800 */
@media only screen and (max-width: 1000px) {
  .nav-mobile {
    display: block;
  }

  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
}
#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #463f3f;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
  top: -10px;
}
#nav-toggle span:after {
  bottom: -10px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* 800 */
@media screen and (min-width: 1000px) {
  .nav-list {
    display: block !important;
  }
}
/* 
.navigation – the outer wrapper for the navbar. Specifies the height and color, and will stretch the full width of the viewport.
*/
.navigation {
  height: 70px;
  background: #ffffff;
}

/*
.nav-container – the inner wrapper for the navbar. Defines how far the actual content should stretch.
*/
.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}
.brand a,
.brand a:visited {
  color: #463f3f;
  text-decoration: none;
}

/* Start of image carousel CSS */
.slider-container {
  width: 100%;
  margin: 0 auto;
  height: 30vh;
  position: relative;
  top: -15px;
  overflow: hidden;
}

.slider-container .slide {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.slider-container .slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.slider-container .slider-buttons button {
  width: 40px;
  height: 40px;
  font-size: 15px;
  color: #4a4a49;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider-container .slider-buttons .prevBtnSlider {
  position: absolute;
  top: 40%;
  margin-left: 10px;
  z-index: 5;
}

.slider-container .slider-buttons .nextBtnSlider {
  position: absolute;
  top: 40%;
  right: 0;
  margin-right: 10px;
  z-index: 5;
}

.slider-container .slider-buttons img {
  display: block;
  margin: auto;
  height: 30px;
  width: 30px;
}
/* End of image carousel CSS */

/* HOMEPAGE */
/* Start of Homepage description CSS */

.home-description {
  width: 90vw;
  margin: 18px auto;
  display: flex;
  flex-direction: column;
  background-color: #e8edee;
  box-shadow: var(--shadow-2);
  border-radius: 5px;
}

.home-description h1,
.home-description p {
  text-align: left;
}

.school-name {
  color: var(--blue);
  font-size: 28px;
  text-align: center;
}

.u2-features1 {
  color: var(--blue);
  font-size: 28px;
  text-align: center;
}

.u2-features2 {
  color: var(--blue);
  font-size: 28px;
  margin-top: 30px;
}
.home-description p {
  margin-top: 20px;
}

.home-description img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.home-description-inner {
  margin: 30px 20px;
}
/* End of Homepage Description */
/* End of homepage */

/* Start of About Us page */
.about-us .school-image {
  position: relative;
  top: -15px;
  display: block;
  width: 100%;
  height: 30vh;
  margin-top: 0;
  object-fit: cover;
}

.about-us .school-history {
  margin: auto 15px;
}

.about-us h1 {
  margin-top: 15px;
  text-align: left;
}

.about-us .school-history p {
  margin-top: 15px;
}

.about-us .school-history li {
  margin-top: 15px;
  margin-left: 15px;
}
/* End of about us page */

/* Start of facilities page */

.facility .facility-heading {
  text-align: center;
}

.more-less {
  text-decoration: none;
  color: var(--blue);
  cursor: pointer;
}

.more-less:hover {
  color: var(--green);
}

#more-1,
#more-2,
#more-2,
#more-3,
#more-4,
#more-5,
#more-6,
#more-7,
#more-8,
#more-9 {
  display: none;
}

/* End of facilities page */

/* Start of apply page */
.apply {
  margin: auto 15px;
}

.apply h1 {
  margin-top: 15px;
  text-align: left;
}

.apply ul {
  margin-left: 15px;
}

.apply-button {
  display: block;
  width: 130px;
  text-align: center;
  margin: 15px auto auto auto;
  padding: 15px 20px;
  text-decoration: none;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  cursor: pointer;
}

/* starting of course button */

.course-button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 4px;
  outline: none;
  overflow: visible;
  padding: 30px 50px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .course-button {
    padding: 30px 50px;
  }
}

.course-button:before,
.course-button:after {
  border-radius: 80px;
}

.course-button:before {
  background-color: rgba(249, 58, 19, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.course-button:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.course-button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.course-button:active:not(:disabled) {
  color: #ccc;
}

.course-button:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, #ff7426 0, #f93a13 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.course-button:disabled {
  cursor: default;
  opacity: 0.24;
}

/* end of course button */

/* starting of features button */
.features-button {
  align-items: center;
  appearance: none;
  background-clip: padding-box;
  background-color: initial;
  background-image: none;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  flex-direction: row;
  flex-shrink: 0;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 800;
  justify-content: center;
  line-height: 24px;
  margin: 0;
  min-height: 64px;
  outline: none;
  overflow: visible;
  padding: 30px 50px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  width: auto;
  word-break: keep-all;
  z-index: 0;
}

@media (min-width: 768px) {
  .features-button {
    padding: 30px 50px;
  }
}

.features-button:before,
.features-button:after {
  border-radius: 80px;
}

.features-button:before {
  background-color: rgba(74, 200, 58, 0.32);
  content: "";
  display: block;
  height: 100%;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -2;
}

.features-button:after {
  background-color: initial;
  background-image: linear-gradient(92.83deg, hwb(107 13% 53%) 0, #7cbd5d 100%);
  bottom: 4px;
  content: "";
  display: block;
  left: 4px;
  overflow: hidden;
  position: absolute;
  right: 4px;
  top: 4px;
  transition: all 100ms ease-out;
  z-index: -1;
}

.features-button:hover:not(:disabled):after {
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  transition-timing-function: ease-in;
}

.features-button:active:not(:disabled) {
  color: #ccc;
}

.features-button:active:not(:disabled):after {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
    ),
    linear-gradient(92.83deg, hwb(107 13% 53%) 0, #7cbd5d 100%);
  bottom: 4px;
  left: 4px;
  right: 4px;
  top: 4px;
}

.features-button:disabled {
  cursor: default;
  opacity: 0.24;
}
/* end of features button */

/* End of apply page */

/* Start of gallery page */

.main-g-images img {
  margin-bottom: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.main-g-images img:hover {
  opacity: 60%;
}
.main-g-images a {
  text-decoration: none;
}

.main-g-images span {
  display: block;
  padding: 5px;
  color: var(--black);
  background-color: #e8edee;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.gallery h1 {
  text-align: center;
}

.gallery .gallery-images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gallery img {
  display: block;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 200px;
  width: 90vw;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.gallery .school-name a {
  text-decoration: none;
  color: #044fa2;
}
.gallery .school-name a:hover {
  color: green;
}

.modal-content {
  display: none;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content img {
  position: relative;
  top: 30vh;
  display: block;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.modal-content .close-modal {
  position: absolute;
  top: 30vh;
  right: 35px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  z-index: 10;
}

/* End of gallery page */

/* Start of academics 2 page */
.academics-II {
  padding: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.academics-II .column-2 {
  display: none;
}

.academics-II .column-2 h1 {
  margin: 25px;
  cursor: pointer;
}

.academics-II .column-2 a {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.academics-II-content {
  padding: 15px;
  max-width: 850px;
}

.academics-II-content h1 {
  padding-top: 15px;
}

.academics-II-content ul {
  margin-left: 30px;
}

/* Start of why u2 page */

.u2 h1 {
  margin-top: 15px;
}

.u2 .school-history p {
  margin-top: 15px;
}

.about-us .school-history li {
  margin-top: 15px;
  margin-left: 15px;
}
/* End of why u2 page */

/* End of academics 2 page */

/* Start of courses page */
.courses h1 {
  text-align: center;
}

.course-content {
  margin: 20px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
}

.course-content img {
  display: block;
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.course-inner-desc {
  padding: 15px;
  margin: 0;
  border-radius: 0 0 5px 5px;
}

.course-inner-desc-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 10px auto 15px auto;
}

.course-inner-desc-bottom p {
  margin-top: 10px;
}

.course-inner-desc-bottom ul {
  margin-left: 20px;
}
/* End of courses page */

/* Start of footer */

footer ul {
  list-style: none;
}

footer .row {
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: 40px;
  line-height: 1.5;
  background-color: rgb(6, 6, 62);
  padding: 10px;
  padding-bottom: 40px;
}

.footer-col {
  padding: 15px 5px;
}

.footer-col h4 {
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
  /* background-color: red; */
}

.footer-col h4:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #54ab40;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}

.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}

.footer-col ul li {
  font-size: 16px;
  text-transform: capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover {
  color: green;
  padding-left: 10px;
}

.footer-col ul li a {
  text-decoration: none;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}

.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}

.footer-col .social-links a:hover {
  color: rgb(6, 6, 62);
  background-color: #ffffff;
}

footer hr {
  width: 98%;
  border: 0;
  padding-top: 20px;
  border-bottom: 1px solid #ccc;
  margin: 20px auto;
}

footer .copyright {
  text-align: center;
  color: #ffffff;
  text-transform: capitalize;
  padding-top: 20px;
}

/* End of footer */

/*  Media query runs when the screen size is greater than 600px */
@media only screen and (min-width: 1000px) {
  h1 {
    font-size: 40px;
  }

  #top-nav-bar {
    display: block;
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .inner-nav-1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .inner-nav-2 a {
    display: block;
    align-self: center;
  }

  .inner-nav-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .slider-container {
    height: 93vh;
    top: 0px;
  }

  .home-description {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    max-width: 1420px;
  }

  .home-description-inner {
    max-width: 650px;
  }

  .home-description p {
    margin-top: 25px;
    max-width: 650px;
    font-size: 17px;
  }

  .home-description img {
    display: block;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 720px;
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px;
  }

  .about-us .school-image {
    top: 0;
    height: 76vh;
  }

  .about-us .school-history {
    max-width: 85vw;
    margin: 34px auto auto auto;
  }

  .about {
    max-width: 800px;
  }

  .about p {
    margin: auto 20px;
  }

  .facility h1 {
    font-size: 30px;
  }

  .facility .school-name {
    margin-top: 40px;
    font-size: 40px;
  }

  .facility p {
    margin-top: 10px;
  }

  .facility .home-description {
    max-width: 1000px;
  }

  .facility .home-description img {
    width: 500px;
  }

  .apply {
    max-width: 85vw;
    margin: 34px auto auto auto;
  }

  .apply p,
  .apply ul {
    margin-top: 5px;
  }

  .gallery .gallery-images {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .gallery h1 {
    margin-top: 20px;
    font-size: 40px;
  }

  .heading-hr {
    margin-bottom: 20px;
  }

  .gallery img {
    height: 500px;
    width: 600px;
  }

  .modal-content img {
    top: 10vh;
    max-height: 85vh;
  }

  .modal-content .close-modal {
    top: 10vh;
    font-size: 50px;
  }

  .academics-II {
    flex-direction: row;
    justify-content: space-around;
    height: 95vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../photos/Academics/front.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: darken;
  }

  .academics-II .column-1 {
    padding: 30px;
    align-self: center;
    width: 500px;
    background-color: #e8edee;
    box-shadow: var(--shadow-2);
    border-radius: 5px;
  }

  .academics-II .column-2 {
    display: block;
    display: flex;
    flex-direction: row;
    align-self: center;
  }

  .academics-II .column-2 h1 {
    letter-spacing: 2px;
    font-size: 45px;
    color: var(--white);
  }

  .academics-II-content {
    margin: 15px auto auto auto;
    max-width: 80vw;
  }

  .courses h1 {
    font-size: 40px;
  }

  .course-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .course-container img {
    height: 350px;
  }

  .course-content {
    width: 500px;
  }

  footer .row {
    flex-direction: row;
    justify-content: space-around;
  }

  .footer-col {
    padding: 0 15px;
  }

  footer {
    padding: 70px;
  }
}

/* go-to top button */
.arrow-btn {
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9; /* remove to hide the button under carousel */
}

.arrow-btn a {
  height: 39px;
  width: 37px;
  text-align: center;
  background: green;
  display: block;
  border-radius: 3px;
  cursor: pointer;
}

.arrow-btn a span {
  color: #f2f2f2;
  line-height: 39px;
  font-size: 25px;
}

/* End of  go-to top button */
